html {
  -webkit-font-smoothing: antialiased !important;
  font-size: 14px;
  color: $offblack;
  background: #fff;
  font-family: $body_font;
  line-height: 1.5em;
  box-sizing: border-box;

  @media(min-width: $small) {
    font-size: $rem;
  }
}

a {
  color: $blue;
  @include transition();

  &:hover {
    color: darken($blue, 0.1);
  }

  &:visited {
    color: $grey;
  }

  &:active {
    color: darken($blue, 20%);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}


.skewBackground {
  position: relative;

  &:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue;
    transform: skewY(-3deg);
    z-index: 1;
  }
}

.footer {
  background: #e9f0f0;
  text-align: center;
  padding: 2rem;
  margin: 4rem 0 0;

  p {
    margin: 2rem 0;
  }

  &__logo {
    margin: 1rem auto 0;
  }

  &__github {
    @include transition();
    display: inline-flex;
    align-items: center;
    border-color: #b2babc;
    color: #879094 !important;

    @media(min-width: $small) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    svg {
      flex-shrink: 0;
      margin-left: 1rem;

      path {
        @include transition();
        fill: #879094;
      }
    }

    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: #fff !important;

      svg path {
        fill: #fff;
      }
    }
  }

  a {
    color: $darkgrey;
  }
}
